<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.png" type="image/png">
    <title>{{ Sistema }}</title>
    <link href="../css/vendor/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
    <link href="../css/vendor/fontawesome/all.min.css" rel="stylesheet">
    <link href="../css/vendor/DataTables/datatables.min.css" rel="stylesheet">
    <link href="../css/vendor/tom-select/tom-select.css" rel="stylesheet">
    <link href="../css/vendor/tom-select/tom-select.bootstrap5.min.css" rel="stylesheet">
    <link href="../css/vendor/dropzone/dropzone.min.css" rel="stylesheet">
    <link href="{{ style }}" rel="stylesheet">
</head>

<body class="sb-nav-fixed">
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="./">{{ Sistema }}</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <ul class="navbar-nav ms-auto me-0 me-md-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a id="btnSalir" class="dropdown-item" href="javascript:void(0)">Salir</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading"></div>
                        <a class="nav-link" href="./">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                            Inicio
                        </a>
                        <a class="nav-link" href="?mod=marcas" mod="MARCAS">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-trademark"></i></div>
                            Marcas
                        </a>
                        <a class="nav-link" href="?mod=categorias" mod="CATEGORIAS">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-tags"></i></div>
                            Categorias
                        </a>
                        <a class="nav-link" href="?mod=caracteristicas" mod="CARACTERISTICAS">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-list-check"></i></div>
                            Caracteristicas
                        </a>
                        <a class="nav-link" href="?mod=productos" mod="PRODUCTOS">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-box"></i></div>
                            Productos
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    {% if module_titulo %}
                    <h1 class="my-4">{{ module_titulo }}</h1>
                    {% endif %}
                    {% if Message %}
                    <div class="alert alert-{{ Type }}" role="alert">
                        {{ Message }}
                    </div>
                    {% endif %}
                    {% if mod_descrip is defined and mod_descrip %}
                    <div class="card mb-4">
                        <div class="card-body">
                            {{ mod_descrip }}
                        </div>
                    </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">2024 Representaciones JCE &copy; Todos los derechos reservados.</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="../js/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="../js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../js/vendor/popper/popper.min.js"></script>
    <script src="../js/vendor/fontawesome/all.min.js"></script>
    <script src="../js/vendor/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="../js/vendor/DataTables/datatables.min.js"></script>
    <script src="../js/vendor/tom-select/tom-select.complete.min.js"></script>
    <script src="../js/vendor/dropzone/dropzone.min.js"></script>
    <script src="{{ functions }}"></script>
    <script src="{{ init }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        try {
            const btnSalir = document.getElementById('btnSalir');

            btnSalir.addEventListener('click', async function () { 
                event.preventDefault();
                const url = `/src/Api/index.php?action=logout&entity=Usuarios`;
                const response = await fetchCall(url, 'GET');
                if (!response.isOk){
                    $(".preloader").fadeOut();
                    if (response.Content == 0) {
                        //Session
                        document.location.href = "./";
                    }
                    dialog(response.Message, response.Type);
                    return;
                }
                document.location.href = "./";
            });
        } catch (error) {
            const mensaje = `Error al procesar la petición: ${error}`;
            dialog(mensaje, 'error');
        }
    });
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>