{% extends '@views/body.twig' %}

{% block content %}
<script>
    const mod = '{{ mod }}';
    const entity = 'Categorias';
</script>
<div class="card mb-4">
    <div class="card-header">{{module_subtitulo}}</div>
    <div class="card-body">
        {% if module == 'list' %}
        <div class="row mb-4">
            <div class="col-md-3 col-sm-6">
                <div class="button-group">
                    <a class="btn btn-outline-primary btn-sm" href="?mod={{mod}}&id=0" data-id="0"><span class="btn-label"><i class="fas fa-plus"></i></span> Nuevo</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover datatables">
                <thead>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE (ES)</th>
                        <th>NOMBRE (EN)</th>
                        <th>OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in Content %}
                    <tr 
                        data-id="{{ data.id }}" 
                    >
                        <td>{{ data.codigo }}</td>
                        <td>{{ data.nombre_es }}</td>
                        <td>{{ data.nombre_en }}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-primary btn-circle btn-sm" href="?mod={{ mod }}&id={{ data.id }}" data-toggle="tooltip" data-placement="top" title="Ver"><i class="fas fa-search"></i></a>
                                <a class="btn btn-outline-primary btn-circle btn-sm btnEliminarRegistro" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% elseif module == 'form' %}
        {% set data = Content[0] %}
        <form role="form" name="form_" id="form_" enctype="multipart/form-data" data-entity="Categorias">
            <div class="row mb-3">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input id="nombre_es" name="nombre_es" class="form-control validar" placeholder="Ingrese el nombre de la Categoria en Español" value="{{ data.nombre_es }}">
                        <label for="nombre_es" class="control-label col-form-label">Nombre (Español)</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input id="nombre_en" name="nombre_en" class="form-control validar" placeholder="Ingrese el nombre de la Categoria en Ingles" value="{{ data.nombre_en }}">
                        <label for="nombre_en" class="control-label col-form-label">Nombre (Ingles)</label>
                    </div>
                </div>
            </div>
            {% if showAudit %}
            <div class="card-body">
                <div class="row" style="font-size: 12px; text-align: justify;">
                <div class="col-sm-3"><strong>CREADO POR: </strong>{{ data.creacion_usuario }}</div>
                <div class="col-sm-3"><strong>FECHA: </strong>{{ data.creacion_fecha }}</div>
                <div class="col-sm-3"><strong>MODIFICADO POR: </strong>{{ data.actualizacion_usuario }}</div>
                <div class="col-sm-3"><strong>FECHA: </strong>{{ data.actualizacion_fecha }}</div>
                </div>
            </div>
            <hr>
            {% endif %}
            <div class="card-body">
                <div class="action-form">
                    <div class="form-group mb-0 text-center">
                        <input type="hidden" id="id" name="id" value="{{ data.id }}">
                        <input type="hidden" id="logo_path" name="logo_path" value="{{ ruta_logo }}">
                        <input type="hidden" id="foto_path" name="foto_path" value="{{ ruta_fotos }}">
                        <button id="btnGuardar" class="btn btn-outline-primary" type="button" form="form_" data-mod="{{ mod }}"><span class="btn-label"><i class="fas fa-save"></i></span> Guardar</button>
                        <a id="btnCancelar" class="btn btn-outline-primary" href="?mod={{ mod }}"><span class="btn-label"><i class="fas fa-sign-out-alt"></i></span> Cerrar</a>
                    </div>
                </div>
            </div>
        </form>
        {% else %}
        <div class="alert alert-warning"> Operación no válida: {{ module }} </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        try {
            const btnGuardar = document.getElementById('btnGuardar');
            const btnEliminarRegistro = document.querySelectorAll('.btnEliminarRegistro');

            btnEliminarRegistro.forEach(btn => {
                btn.addEventListener('click', eliminaRegistro);
            });
            
            if(btnGuardar != null) {
                btnGuardar.addEventListener('click', async function () { $('#form_').sendForm(); });
            }

            async function eliminaRegistro(event) {
                event.preventDefault();
                dialog(
                    "¿Está seguro?",
                    "WARNING",
                    null,
                    null,
                    {
                        "Sí": { 
                            btnClass: "btn-orange", 
                            action: async function () { 
                                const row = event.target.closest('tr');
                                const id = row.getAttribute('data-id');
                                
                                const formData = new FormData();
                                formData.append('action', 'delete');
                                formData.append('entity', entity);
                                formData.append('id', id);
                                
                                const url = `/src/Api/index.php`;
                                const response = await fetchCall(url, 'POST',formData);
                                if (!response.isOk){
                                    $(".preloader").fadeOut();
                                    if (response.Content == 0) {
                                        //Session
                                        document.location.href = "./";
                                    }
                                    dialog(response.Message, response.Type);
                                    return;
                                }
                                const botones = { ACEPTAR: { btnClass: 'btn-success', action: function(){ document.location.href="./?mod="+mod; } }};
                                dialog(response.Message,response.Type,null,null,botones);
                            } 
                        },
                        "No": { 
                            btnClass: "btn-default", 
                        }
                    }
                );
            }
        } catch (error) {
            const mensaje = `Error al procesar la petición: ${error}`;
            dialog(mensaje, 'error');
        }
    });
</script>
{% endblock %}