{% extends '@views/body.twig' %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">{{module_subtitulo}}</div>
    <div class="card-body">
        {% if module == 'list' %}
        <div class="row mb-4">
            <div class="col-md-3 col-sm-6">
                <div class="button-group">
                    <a class="btn btn-outline-primary btn-sm" href="?mod={{mod}}&id=0" data-id="0"><span class="btn-label"><i class="fas fa-plus"></i></span> Nuevo</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover datatables">
                <thead>
                    <tr>
                        <th>CODIGO</th>
                        <th>MARCA</th>
                        <th>DESCRIPCION (ES)</th>
                        <th>DESCRIPCION (EN)</th>
                        <th>OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in Content %}
                    <tr>
                        <td>{{ marca.codigo }}</td>
                        <td>{{ marca.nombre }}</td>
                        <td>{{ marca.descripcion_es }}</td>
                        <td>{{ marca.descripcion_en }}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-outline-primary btn-circle btn-sm"
                                    href="?mod={{ mod }}&id={{ marca.id }}" data-toggle="tooltip" data-placement="top" title="Ver"><i class="fas fa-search"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% elseif module == 'form' %}
        {% set marca = Content[0] %}
        <form role="form" name="form_" id="form_" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-sm-8">
                    <div class="form-floating mb-3 mb-md-0">
                        <input type="text" class="form-control validar" id="dato" name="dato" maxlength="100" placeholder="Ingrese el Nombre de la Marca" value="{{ marca.nombre }}">
                        <label for="dato" class="control-label col-form-label">Nombre de la Marca</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="form-floating mb-3">
                        <textarea id="descripcion_es" name="descripcion_es" class="form-control h-100 validar" rows="4" placeholder="Ingrese la descricíon de la marca en Español">{{ marca.descripcion_es }}</textarea>
                        <label for="descripcion_es" class="control-label col-form-label">Descripcion (Español)</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="form-floating mb-3">
                        <textarea id="descripcion_en" name="descripcion_en" class="form-control h-100 validar" rows="4" placeholder="Ingrese la descricíon de la marca en Ingles">{{ marca.descripcion_en }}</textarea>
                        <label for="descripcion_en" class="control-label col-form-label">Descripcion (Ingles)</label>
                    </div>
                </div>
            </div>
            {% if showAudit %}
            <div class="card-body">
                <div class="row" style="font-size: 12px; text-align: justify;">
                <div class="col-sm-3"><strong>CREADO POR: </strong>{{ marca.creacion_usuario }}</div>
                <div class="col-sm-3"><strong>FECHA: </strong>{{ marca.creacion_fecha }}</div>
                <div class="col-sm-3"><strong>MODIFICADO POR: </strong>{{ marca.actualizacion_usuario }}</div>
                <div class="col-sm-3"><strong>FECHA: </strong>{{ marca.actualizacion_fecha }}</div>
                </div>
            </div>
            <hr>
            {% endif %}
            <div class="card-body">
                <div class="action-form">
                    <div class="form-group mb-0 text-center">
                        <input type="hidden" name="id" value="{{ marca.id }}">
                        <button class="btn btn-outline-primary" type="button" form="form_" data-mod="{{ mod }}"><span class="btn-label"><i class="fas fa-save"></i></span> Guardar</button>
                        <a class="btn btn-outline-primary" href="?mod={{ mod }}"><span class="btn-label"><i class="fas fa-sign-out-alt"></i></span> Cerrar</a>
                    </div>
                </div>
            </div>
        </form>
        {% else %}
        <div class="alert alert-warning"> Operación no válida: {{ module }} </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $('button[form]').click(function () {
        $('#form_').sendForm();
    });
</script>
{% endblock %}